
<section class="right-answers">
    <div class="container">
        <div class="right-answers_pre-title_wrap">
            <div class="common-pre-title" >
                Результат прохождения теста
            </div>
            <div class="common-pre-title color" id="right-answers-pre-title">

            </div>
        </div>

        <div class="common-title">
            <span>Правильные ответы</span> к тесту
        </div>
        <div class="right-answers-author" id="author"></div>
        <div class="right-answers-blocks" id="answers"></div>
        <div class="common-link-to-go">
            <a href="javascript: history.back();" id="back">Обратно к моему результату теста <img src="/images/small-arrow.png" alt="маленькая стрелка"></a>
        </div>
    </div>
</section>
