
.right-answers {
    padding-top: 20px;
    padding-bottom: 20px;
}

.right-answers-blocks {
    margin-top: 60px;
}

.right-answers_pre-title_wrap {
    display: flex;
    margin-bottom: 60px;
}

.right-answers_pre-title_wrap .common-pre-title {
    margin-right: 30px;
    align-items: center;
}
.right-answers_pre-title_wrap .common-pre-title:first-child:after {
    content: url("/images/small-gray-arrow.png");
    position: absolute;
    top: 0;
    right: -15px;
}

.right-answers-author {
    margin-top: 10px;
    font-size: 20px;
}
.right-answers-author span {
    color: #6933DC;
    font-family: "MuseoSansCyrl-bold", sans-serif;
    font-weight: 700;
}

.right {
    color: #5FDC33;
}
.wrong {
    color: #DC3333;
}

input[type="radio"].right:checked {
    border: 3px solid #5FDC33;
}
input[type="radio"].right:checked::before {
    box-shadow: inset 10px 10px #5FDC33;
}

input[type="radio"].wrong:checked {
    border: 3px solid #DC3333;
}
input[type="radio"].wrong:checked::before {
    box-shadow: inset 10px 10px #DC3333;
}


