
.right-answers {
    padding-top: 20px;
    padding-bottom: 20px;
}

.right-answers-blocks {
    margin-top: 60px;
}

.right-answers_pre-title_wrap {
    display: flex;
    margin-bottom: 60px;
}

.right-answers_pre-title_wrap .common-pre-title {
    margin-right: 30px;
    align-items: center;
}
.right-answers_pre-title_wrap .common-pre-title:first-child:after {
    content: url("images/small-gray-arrow.png");
    position: absolute;
    top: 0;
    right: -15px;
}

.right-answers-author {
    margin-top: 10px;
    font-size: 20px;
}
.right-answers-author span {
    color: #6933DC;
    font-family: "MuseoSansCyrl-bold", sans-serif;
    font-weight: 700;
}

.right-answers-block-option {
    position: relative;
    margin-left: 33px;
}
.right-answers-block-option:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid #6933DC;
    border-radius: 50%;
    background: transparent;
    left: -33px;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

.right.right-answers-block-option {
    color: #5FDC33;
}
.wrong.right-answers-block-option {
    color: #DC3333;
}
.right.right-answers-block-option:before {
    border: 6px solid #5FDC33;

}

.wrong.right-answers-block-option:before {
    border: 6px solid #DC3333;

}


